log/
.vscode/
__pycache__/
.ipynb_checkpoints/
patient/testing/
/*venv*/
# Ignore everything in Patient_data except Patient_ID
Patient_data/*
!Patient_data/Patient_ID/
# If you want to include all files under Patient_ID, specify like below
!Patient_data/Patient_ID/**
#calibration/

# mmdeploy - exclude all generated model files in rtmpose-trt
NTK_CAP/ThirdParty/mmdeploy/rtmpose-trt/

# TensorRT installation
NTK_CAP/ThirdParty/TensorRT-8.6.1.6/

# Model and deployment files
*.dll
*.onnx
*.caffemodel
*.engine
*.pth
*.pt

# Package files
*.deb

# Installation temporary files
cuda-keyring_*.deb
*.run
install/wheels/
install/wheels.tar

# Backup folders
*backup*
mmdeploy_backup_*/
